@* What kind of object was passed through from the back-end? *@
@model ASPNETDemo.Models.SideKick

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @* Showing all the data from that model passed through from the back-end *@
    <ul>
        <li>Name: @Model.Name</li>
    </ul>
</body>
</html>